/*---------------------------------------------------
	Education
---------------------------------------------------*/

.edu {
	max-width: 49em;
}
	
.edu__item {
	display: flex;
	padding-top: 0.5em;
}

.edu__text {
	padding-left: 1em;

	@media (min-width: 800px) {	
		padding-left: 2em;
	}
}

.edu__degree {
	color: #319bb9;
	font-weight: 500;
	margin-bottom: 0;
}

.edu__icon-flag {
	display: none;

	@media (min-width: 320px) {
		display: inline-block;
		background-color: #8bcadc;
		color: $white;
		font-size: 3em;
		text-align: center;
		padding: 0.28em;
		border-radius: 50%;
		box-shadow: 0 0 0 0.06em #cce2e8;
	}

	@media (min-width: 800px) {	
		font-size: 4.5em;
		padding: 0.25em;
	}
}

.edu__icon-uni {
	color: #aeaeae;
}

.edu__br {
	@media (min-width: 425px) {
		display: none;
	}
}