@use "../var";

/*---------------------------------------------------
	Header
---------------------------------------------------*/

.header {
	background-color: #bae6e8; /* for older browsers */
	background: linear-gradient(to bottom, #bae6e8 0%,#98d9e4 25%,#7ad5e3 31%,#64d1e1 37%,#4fcce0 45%,#41c7de 52%,#34c1dc 62%,#26b2d4 79%,#1eacd5 100%); 

	text-align: center;
	padding: 6em 1em 1em;

	@media (min-width: 600px) {	
		padding: 7em 1em 4em;
	}
}

.header-jobtitle,
.header-email {
	color: var.$white;
	line-height: 1;
}

.header-jobtitle {
	font-size: 1.7em;
	letter-spacing: 0;

	@media (min-width: 375px) {
		font-size: 2em;
	}
}

.header-email {
	font-size: 1.2em;
	letter-spacing: 0.2em;
}
