@use "../var";

/*---------------------------------------------------
	Header
---------------------------------------------------*/

.header {
	background: var.$navBgColor; /* Fallback for older browsers */
	background: linear-gradient(180deg, rgba(21, 128, 157, 1) 0%, rgba(29, 172, 213, 1) 100%);

	text-align: center;
	padding: 6em 1em 1em;

	@media (min-width: 600px) {	
		padding: 10em 1em 1em;
		height: 100vh;
	}
}

.header__item {
	color: var.$white;
	line-height: 1;
}

.header__item--jobtitle {
	font-size: 1.7em;
	letter-spacing: 0;

	@media (min-width: 400px) {
		font-size: 2em;
	}
}

.header__item--email {
	font-size: 1.2em;
	letter-spacing: 0.2em;
}
