@use "../var";

/*---------------------------------------------------
	Modals
---------------------------------------------------*/

// Closed modal
.modal {
	opacity: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: -800;
	background-color: #e4f4f9;
	color: var.$black;
	padding-left: 2em;
	padding-right: 2em;
	overflow-y: auto;
	transform: scale(0.5);
	transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

// Open modal
.workitem input:checked ~ .modal {
	opacity: 1;
	z-index: 9000;
	transform: scale(1);
	transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);  
}

.modal__icon {
	margin-right: 0.3em;
}

.modal__inner {
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 2em;
}

.modal__inner p, 
.modal__inner li {
	color: var.$black;
	font-family: var(--font-roboto), sans-serif;
	font-size: 100%;
	font-weight: 300;
	line-height: 2.4;
	text-align: left;
}

.modal__inner p {
	margin-bottom: 1.6em;
}

.modal__features-list {
	padding-left: 1em;
	padding-bottom: 2em;
}

.modal__img {
	max-width: 100%;
	height: auto;
	margin-top: 1em;
	margin-bottom: 1em;

	@media (min-width: 600px) {
		margin-bottom: 2em;
	}
}

.modal__img + .modal__img {
	margin-top: 2em;

	@media (min-width: 600px) {
		margin-top: 4em;
	}
}

