@use "../variables";

/*---------------------------------------------------
	Work
---------------------------------------------------*/

.work__inner {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.workitem {
	display: inline-block;
	width: 100%;
	margin-bottom: 5em;

	@media (min-width: 700px) {
		padding: 0.5em 1em;
	}

	@media (min-width: 1000px) {
		padding: 0.5em 3em;
	}
}

.workitem__fig {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	text-align: center;
	margin: 0;
}

.workitem__img {
	max-width: 100%;
	height: auto;
	border: 0.05em solid #f3f3f3;
	border-radius: 0.3em;
	box-shadow: 0 0.3em #e5ecf4;
}

.workitem__caption {
	background-color: variables.$white;
	padding-top: 0.3em;
	padding-bottom: 0.3em;

	@media (min-width: 900px) and (max-width: 1000px) {
		height: 4.5em;
	}
}

.workitem__caption p {
	text-transform: uppercase;
	margin: 0;

	@media (min-width: 900px) {
		font-size: 1em; 
		font-weight: 400;
	}
}


/********** Work item hover effects (desktop only) **********/

@media (min-width: 600px) {	
	.workitem__img {
		transition: opacity 0.35s;
	}

	.workitem__caption {
		position: absolute;
		bottom: 0;
		width: 101%;
		height: 5em;
		padding: 0.5em;
		transition: transform 0.35s;
		transform: translate3d(0,100%,0);
		backface-visibility: hidden;
	}

	.workitem__fig:hover {
		background: 
			linear-gradient(to bottom, rgba(31,172,212,0) 0%, 
			rgba(31,172,212,0) 0%, 
			rgba(31,172,212,0.8) 75%);

		.workitem__img {
			opacity: 0.3;
		}

		.workitem__caption {
			transform: translate3d(0,0,0);
		}
	}
}


/*************** 2 columns ***************/

@media (min-width: 900px) {
	.workitem {
		width: 49%;
		padding: 0.5em 1em;
   	margin-bottom: 5em;
	}

	.work__inner {
		max-width: 68em;
	}
}


/********** Work items sorting **********/

.work__sorting {
	display: table;
	width: 100%;
	list-style-type: none;
	padding-left: 0;
	margin-top: 3em;
}

.ws-li {
	display: inline-block;
	width: 50%;
	padding-bottom: 2em;

	@media (min-width: 800px) {
		width: 20%;
		padding-bottom: 4em;
	}
}



