/*---------------------------------------------------
	Buttons and Hyperlinks
---------------------------------------------------*/

.btn {
	color: $black;
	line-height: 1.6;
	text-decoration: none;
	transition: border-bottom 0.2s;

	&, 
	&:active, 
	&:focus {
		border-bottom: 1px dashed #616161;
	}

	&:hover {
		border-bottom: 1px dashed transparent;
	}
}


/********** Nav **********/

.btn-nav {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 2em;
	height: 2em;
	background-color: transparent;
	color: $white;
	font-size: 1.1em;
	text-align: center;
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 0 0.05em $white;
	cursor: pointer;
	transition: 
		transform ease-out 0.1s, 
		background 0.2s;

	&::before {
		display: block;
		line-height: 1.9em;
		speak: none;
	}
	
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		box-sizing: content-box;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
		transform: scale(0.9);
		pointer-events: none;
	}
	
	&:hover:after {
		animation: sonarEffect 1.3s ease-out 85ms;
	}

	&:focus {
		outline: none;
	}

	@media (min-width: 320px) {		
		font-size: 1.3em;
	}

	@media (min-width: 375px) {
		font-size: 1.5em;
	}
}


@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #f0f5f6, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #f0f5f6, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}


// Animated links for desktop
@media (min-width: 1025px) {
	.btn-nav {
		overflow: hidden;
		transition: background 0.3s, color 0.3s, box-shadow 0.3s;

		&:after {
			display: none;
		}

		&:hover {
			background-color: $white;
			color: #1abdda;
			box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.3);
		}

		&:hover:before {
			animation: toBottomFromTop 0.3s forwards;
		}
	} 


	@keyframes toBottomFromTop {
		49% {
			transform: translateY(100%);
		}
		50% {
			opacity: 0;
			transform: translateY(-100%);
		}
		51% {
			opacity: 1;
		}
	}
}


/********** Header **********/

.btn-header {
	display: inline-block;
	color: $white;
	transition: opacity 0.3s;

	&, 
	&:active, 
	&:focus {
		opacity: 0.65;
	}

	&:hover {
		opacity: 1;
	}

	.fa:before {
		font-size: 1.8em;
	}

	span {
		display: block;
		font-family: 'Raleway',Arial,Helvetica,sans-serif;
		font-size: 0.65em;
	}
}


/********** Work - sort buttons **********/

.btn-sort {
	width: 7em;
	background-color: $white;
	padding: 0.5em 0;
	border: none;
	border-radius: 0.3em;
	box-shadow: 0 0.15em #e5ecf4;
	transition: background-color 0.15s, color 0.15s;
	
	&.active {
		background-color: $cerulean;
		color: $white;
	}
}

/********** Contact - submit button **********/

.btn-submit {
	display: block;
	background-color: $cerulean;
	color: $white;
	font-family: inherit;
	font-size: 1.2em;
	letter-spacing: 1px;
	padding: 1.2em 4em 1.2em 5em;
	margin: 1em auto 0;
	border: none;
	box-shadow: 0 0.3em #e5ecf4;
	border-radius: 0.3em;
	overflow: hidden;
	clear: both;
	transition: all 0.3s;
	cursor: pointer;

	&:hover {
		background-color: #30cfe5;
	}
	
	&::before {
		font-family: FontAwesome;
		position: absolute;
		left: 2%;
		width: 40%;
		color: $white;
		font-size: 120%;
		line-height: 0.8;
	}
	
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		transition: all 0.3s;
	}
}

.btn-submit--clicked {
	background-color: $cerulean;
	animation: fadeOutText 0.5s;
	
	&::before {
		animation: zoomRight 0.5s;
	}
}

@keyframes fadeOutText {
	0% { color: transparent; }
	80% { color: transparent; }
	100% { color: $white; }
}

@keyframes zoomRight {
	80% { transform: translateX(250%); }
	81% { opacity: 1; transform: translateX(250%); }
	82% { opacity: 0; transform: translateX(250%); }
	83% { opacity: 0; transform: translateX(-50%); }
	84% { opacity: 1; transform: translateX(-50%);  }
	100% { transform: translateX(0%); }
}


/********** Modals **********/

.btn--viewproject {
	@media (min-width: 600px) {
		font-size: 1.2em;
	}
}