/*---------------------------------------------------
	Buttons and Hyperlinks
---------------------------------------------------*/

a,
a:active,
a:focus {
	color: #2488ce;
	text-decoration: none;
}

a:hover {
	color: #4ac3e5;
	text-decoration: none;
}

a:focus {
	outline: #4ac3e5;
}


/********** Work - sort buttons **********/

.btn-sort {
	width: 7em;
	background-color: white;
	padding: 0.5em 0;
	border: none;
	border-radius: 0.3em;
	box-shadow: 0 0.15em #e5ecf4;
	transition: background-color 0.15s, color 0.15s;
}

.btn-sort--active {
	background-color: #22afd4;
	color: white;
}

/********** Contact - submit button **********/

.btn-submit {
	display: block;
	background-color: #22afd4;
	color: white;
	font-family: inherit;
	font-size: 1.2em;
	letter-spacing: 1px;
	padding: 1.2em 4em 1.2em 5em;
	margin: 1em auto 0;
	border: none;
	box-shadow: 0 0.3em #e5ecf4;
	border-radius: 0.3em;
	overflow: hidden;
	clear: both;
	transition: all 0.3s;
	cursor: pointer;

	&:hover {
		background-color: #30cfe5;
	}
	
	&::before {
		font-family: FontAwesome;
		position: absolute;
		left: 2%;
		width: 40%;
		color: white;
		font-size: 120%;
		line-height: 0.8;
	}
	
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		transition: all 0.3s;
	}
}

.btn-submit--clicked {
	background-color: #22afd4;
	animation: fadeOutText 0.5s;
	
	&::before {
		animation: zoomRight 0.5s;
	}
}


@keyframes fadeOutText {
	0% { color: transparent; }
	80% { color: transparent; }
	100% { color: white; }
}

@keyframes zoomRight {
	80% { transform: translateX(250%); }
	81% { opacity: 1; transform: translateX(250%); }
	82% { opacity: 0; transform: translateX(250%); }
	83% { opacity: 0; transform: translateX(-50%); }
	84% { opacity: 1; transform: translateX(-50%);  }
	100% { transform: translateX(0%); }
}