/*---------------------------------------------------
	Education
---------------------------------------------------*/

.edu {
	@media (min-width: 900px) {
		width: 49em;
	}
}

.edu__list {
	@media (min-width: 320px) {		
		margin-left: 2em;
	}

	@media (min-width: 600px) and (max-width: 900px) {
		margin-left: 4em;
	}
}
	
.edu__li {
	line-height: 1.5em;
	padding-top: 0.3em;
	padding-left: 0;
	margin-bottom: 2em;

	@media (min-width: 320px) {		
		padding-left: 1.2em;
	}

	@media (min-width: 375px) {
		padding-left: 1.4em;
	}

	@media (min-width: 700px) {
		padding-left: 2.2em;
	}

	@media (min-width: 900px) {
		padding-left: 3em;
	}
}

.edu__br {
	@media (min-width: 425px) {
		display: none;
	}
}