/*---------------------------------------------------
	Navigation
---------------------------------------------------*/

.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: auto;
	-webkit-transform: translateZ(0); /*prevents jumping in Chrome*/
	clear: both;
	background-color: #a6dee5;
	color: $white;
	text-align: center;
	padding: 0.5em 0;
	white-space: nowrap;
}

.nav__list {
	padding: 0.5em 0 0;
	margin: 0;

	@media (min-width: 375px) {
		padding: 0.3em 0 0;
	}
	
	li {
		display: inline-block;
		margin-right: 1em;

		&:last-child {
			margin-right: 0;
		}

		@media (min-width: 375px) {
			margin-right: 1.5em;
		}

		@media (min-width: 600px) {
			margin-right: 2em;
		}
	}
	
}


li.nav-li-home {
	display: none;

	@media (min-width: 600px) {
		display: inline-block;
	}
}

li.nav-li-edu {
	@media (min-width: 600px) {
		display: none;
	}
}

