/*---------------------------------------------------
	Skills
---------------------------------------------------*/	

@import '../_variables';


.skills__set {
	padding-bottom: 3em;
	clear: both;
}

.skills__set-left,
.skills__set-right {
	float: left;
	width: 50%;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.skills__set-left {
	padding-left: 0;
	padding-right: 0.8em;
}

.skills__set-right {
	padding-right: 0;
	padding-left: 0.8em;
}

.skill {
	position: relative;
	display: inline-block;
	width: 100%;
	clear: both;
	color: $white;
	text-align: center;
	padding: 1em;
	margin-bottom: 3em;
	border: none;
	border-radius: 0.3em;
	box-shadow: 0 0.3em #e5ecf4;
	overflow: hidden;
	backface-visibility: hidden;
	transition: all 0.3s;		

	&::before {
		display: inline-block;
		background-size: 100%;
		height: 39px;
		font-size: 2.5em;
		transition: all 0.3s;
		backface-visibility: hidden;
	}
	
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		transition: all 0.3s;
	}

	span {
		position: absolute;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		font-family: Lato, Arial, Helvetica, sans-serif;
		line-height: 4.5;
		transition: all 0.3s;
	}

	&:hover {
		cursor: default;
	}

	&:hover:before {
		transform: translateY(300%);
	}
	
	&:hover span {
		top: 0;
	}
}


/******* Programming & Design *******/

.skill--prog {

}

.skill--html5 {
	background-color: #ee652a;
	&::before {
		background-image: url(./img/skills/html5-logo.png);
		width: 35px;	
		@include skillsImgs;		
	}
}

.skill--css3 {
	background-color: #2162af;
	&::before {
		background-image: url(./img/skills/css3-logo.png);
		width: 40px;	
		@include skillsImgs;		
	}
}

.skill--less {
	background-color: #5473a2;
	&::before {
		background-image: url(./img/skills/less-logo.png);
		width: 86px;
		@include skillsImgs;		
	}
}

.skill--sass {
	background-color: #cd679a;
	&::before {
		background-image: url(./img/skills/sass-logo.png);
		width: 50px;
		@include skillsImgs;
	}
}

.skill--js {
	color: black;
	background-color: #f0db4f;
	&::before {
		content: "JS";
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: 700;
	}
}

.skill--react {
	color: #61dafb; 
	background-color: #383838;
	&::before {
		background-image: url(./img/skills/react-logo.png);
		width: 44px;
		@include skillsImgs;		
	}
}

.skill--fd {
	color: #07609d; 
	background-color: #eee;
	&::before {
		background-image: url(./img/skills/foundation-logo.png);
		width: 49px;
		@include skillsImgs;		
	}
}

.skill--bootstrap {
	background-color: #644190;
	&::before {
		background-image: url(./img/skills/bootstrap-logo.png);
		width: 39px;
		@include skillsImgs;		
	}
}

.skill--vue {
	background-color: #028559;
	&::before {
		background-image: url(./img/skills/vue-logo.png);
		width: 39px;	
		@include skillsImgs;		
	}
}

.skill--ps {
	color: #4fc8f3;
	background-color: #2465af;
	&::before {
		content: "Ps";
		font-weight: 700;
	}
	span {
		color: $white;
	}
}


/******* Content Management Systems *******/
.skill--cms {
	background-color: #f6f3f3;
	
	&::before {
		background-size: 100%;
		width: 1.1em;
		height: 1.1em;
		@include skillsImgs;
	}

	span {
		color: $white;
		line-height: 4;
	}

	&:hover span {
		z-index: 1;
		transform: rotate3d(0, 0, 1, 0deg);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);	
	}
}

.skill--drupal {
	&::before {
		background-image: url(./img/skills/drupal-logo.png);
	}
	span {
		background-color: #0073ba;
	}
}

.skill--wp {
	&::before {
		background-image: url(./img/skills/wp-logo.png);
	}
	span {
		background-color: #296f88;
	}
}

.skill--sitecore {
	&::before {
		background-image: url(./img/skills/sitecore-logo.png);
	}
	span {
		background-color: #c1271e;
	}
}

.skill--sharepoint {
	&::before {
		background-image: url(./img/skills/sharepoint-logo.png);
	}
	span {
		background-color: #0072c6;
	}
}


/*************** MEDIA QUERIES ***************/

@media (min-width: 375px) {
	.skills__set-left {
		padding-right: 1em;
	}	

	.skills__set-right {
		padding-left: 1em;
	}
}

@media (min-width: 425px) {	
	.skill span {
		font-size: 1.6em;
		line-height: 2.7;
		font-weight: 400;
	}
}

@media (min-width: 600px) {
	.skill {
		margin-bottom: 5em;
	}
}

@media (min-width: 900px) {	
	.skills__set-left, 
	.skills__set-right {
		margin-top: 2em;
	}
	
	.skills__set-left {
		padding-right: 3em;
	}
	
	.skills__set-right {
		padding-left: 3em;
	}
	
	.skill {
		margin-bottom: 4em;
	}
}
