/*---------------------------------------------------
	Utilities
---------------------------------------------------*/

.u-clearfix:before, 
.u-clearfix:after {
	display: table;
	content: '';
}

.u-clearfix:after {
	clear: both;
}

.u-no-overflow {
	overflow: hidden;
}

.u-text-left {
	text-align: left;
}