/*---------------------------------------------------
	Utilities
---------------------------------------------------*/

.u-clearfix::before, 
.u-clearfix::after {
	display: table;
	content: '';
}

.u-clearfix::after {
	clear: both;
}

.u-no-overflow {
	overflow: hidden;
}

.u-text-center {
	text-align: center;
}

.u-text-left {
	text-align: left;
}

// Text for screen readers 
.u-sr {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}