/*---------------------------------------------------
	Variables & Mixins
---------------------------------------------------*/

$black: #2d2d2d;
$white: #fff;
$cerulean: #22afd4;
$linkColor: #b99ae0;
$bodyText: #706a6a;


@mixin skillsImgs {
	content: '';
	background-repeat: no-repeat;
}
