/*---------------------------------------------------
	Variables & Mixins
---------------------------------------------------*/

$black: #2d2d2d;
$white: #fff;
$cerulean: #22afd4;
$linkColor: #b99ae0;
$bodyColor: #4c4c4c;


@mixin skillsImgs {
	content: '';
	background-repeat: no-repeat;
}
